.cursive{
    font-family: 'Charm', cursive;
}
.caplriola{
    font-family: 'Capriola', sans-serif;
}
.markscript{
    font-family: 'Marck Script', cursive;
}
.projecttitle{
    font-family: 'Roboto Mono', monospace;
}